
<!DOCTYPE html>
<html> 

<!-- Mirrored from ameriteoption.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Nov 2023 15:13:32 GMT -->
<!-- Added by HTTrack -->
<!-- Mirrored from cryptoedgeinvest.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Jan 2025 13:35:42 GMT -->
<!-- Added by HTTrack -->
<!-- Mirrored from bitwealthsolutions.info/aboutus.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 01 Mar 2025 09:08:14 GMT -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    
     



	<title> Home  | Reliable and Profitable Investment in Binary Options, Stocks, Crypto, CFD's </title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="description" content="Bitwealth  is a true opportunity to earn on cryptocurrency/binary. Bitwealth  is a company formed by a team of PROFESSIONAL TRADERS with EXPERTISE in one of the biggest financial markets of today, the CRYPTOCURRENCY/BINARY. Our focus is to provide our affiliates with daily and constant profits in these markets.">
	<meta name="author" content="Bitwealth Solutions">
	
<link rel="stylesheet" href="images/bootstrap.min.450fc463b8b1.css">
<link rel="stylesheet" href="images/font-awesome.min.47d102a0255f.css">
<link rel="stylesheet" href="images/themify-icons.02d06221131a.css">
<link rel="stylesheet" href="images/metismenu.a45180561e68.css">
<link rel="stylesheet" href="images/owl.carousel.min.3fdf71368985.css">
<link rel="stylesheet" href="images/slicknav.min.73aebdebcb3f.css">
<!-- others css -->
<link rel="stylesheet" href="images/typography.4b324edebf45.css">
<link rel="stylesheet" href="images/default-css.96cbeff5adf0.css">
<link rel="stylesheet" href="images/styles.8a8072e354a3.css">
<link rel="stylesheet" href="images/responsive.09e9699fea20.css">
<!-- modernizr css -->
<script src="images/modernizr-2.8.3.min.da941a6e1e1d.js"></script>



	<link rel="icon" href="images/favicon.cd9b23da0f0c.png" sizes="32x32" type="image/png">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap" rel="stylesheet">
	<link rel="stylesheet" href="images/font-awesome.min.0e51bceb787c.css">
	<link rel="stylesheet" href="images/bootstrap.min.13856d3b86d2.css">
	<script src="images/jquery.min.4f252523d4af.js"></script>
	<script src="images/bootstrap.min.5869c96cc8f1.js"></script>
	<link rel="stylesheet" type="text/css" href="images/style.1a8131ee8357.css">
	<link rel="stylesheet" href="images/animate.min.7da1b41592f0.css">
	<link rel="stylesheet" href="images/fake-notification-min.0f46a238cbd1.css">
	



	<style type="text/css">
		.logo{
			height: 42px;
			float: left;
		}
		.__tL{
			padding: 0px 10px;
			border-radius: 5px;
			background: #69e08a;
			float: right;
			height: 35px;
			font-size: 14px;
			font-weight: 700;
			line-height: 35px;
			text-decoration: none;
			color: #232733;
			margin-left: 3px;
		}
		.__tL:hover{
			text-decoration: none;
			color: #f48104;
		}

		input {
			color: grey;
		}
	</style>
</head>
<body>
	<script src="http://widgets.coingecko.com/coingecko-coin-price-marquee-widget"></script>
<coingecko-coin-price-marquee-widget coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#ffffff" locale="en"></coingecko-coin-price-marquee-widget>
<div style="background: #232733;">
    <div class="_in_content_" style="padding: 20px 15px;">
        <a href="/">
            <img class="logo hidden-xs" src="images/lu2.87bfaf7bf745.png">
            <img class="logo visible-xs" src="images/lu.92d3083e7fc4.png" style="height: 32px; margin-top: 2px;">
        </a>
		
		<a class="__tL" href="#add-services">ADDITIONAL SERVICES</a>
		
		<a class="__tL" href="/about">ABOUT US</a>
		<a class="__tL" href="/register">SIGN UP</a>
		<a class="__tL" href="/login">LOGIN</a>
		
                
    </div>
</div>
	
<style>
    p {
        color: #fff;
    }
</style>
<div id="notification-1" class="notification">			
    <div class="notification-block">
        <div class="notification-img">
            <!-- Your image or icon -->
            <i class="fa fa-btc" aria-hidden="true"></i>
            <!-- / Your image or icon -->
        </div>
        <div class="notification-text-block">
            <div class="notification-title">
                <!-- Notification Title -->
                Earning
                <!-- / Notification Title -->
            </div>
            <div class="notification-text"></div>
        </div>
    </div>
</div>

<!-- TradingView Widget BEGIN -->

<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener" target="_blank"><span class="blue-text"></span></a></div>
    <script type="text/javascript" src="images/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "proName": "FOREXCOM:SPXUSD",
        "title": "S&P 500"
      },
      {
        "proName": "FOREXCOM:NSXUSD",
        "title": "US 100"
      },
      {
        "proName": "FX_IDC:EURUSD",
        "title": "EUR/USD"
      },
      {
        "proName": "BITSTAMP:BTCUSD",
        "title": "Bitcoin"
      },
      {
        "proName": "BITSTAMP:ETHUSD",
        "title": "Ethereum"
      },
      {
        "description": "",
        "proName": "BINANCE:BTCUSDT"
      },
      {
        "description": "",
        "proName": "BITSTAMP:BTCUSD"
      },
      {
        "description": "",
        "proName": "BINANCE:BTCUSDTPERP"
      }
    ],
    "showSymbolLogo": true,
    "colorTheme": "dark",
    "isTransparent": false,
    "displayMode": "adaptive",
    "locale": "en"
  }
    </script>
  </div>

</div>
<!-- TradingView Widget END -->

<div class="main_header__">
    <div style="position: absolute; top: 0; left: 0; width: 100%; z-index: -1; height: 100%;" id="particles-js"></div>

</div>

<h2 id="add-services" class="_seg____header__">ABOUT US</h2>

<div class="_in_content_">

    <center>
        
        

        

        <p>Bitwealth , is an American multinational financial services corporation based in Maryville, Tennessee. Established in 1962, the company is one of the largest asset managers in the world, with $3.7 trillion in assets under management, and $8.2 trillion in assets under administration, as of September 2024.                    </p>
<p>Bitwealth  operates a brokerage firm, manages a large family of mutual funds, provides fund distribution and investment advice, retirement services, index funds, wealth management, securities execution and clearance, asset custody, and life insurance. </p>


    </center>

</div>


<div class="_in_content_">
    <style type="text/css">
body {
font-family: "Open Sans", sans-serif;
}
.carousel {
width: 100%;
margin: 0 auto;
padding-bottom: 50px;
}
.carousel .item {
color: #999;
font-size: 14px;
text-align: center;
overflow: hidden;
min-height: 340px;
}
.carousel .item a {
color: #eb7245;
}
.carousel .img-box {
width: 145px;
height: 145px;
margin: 0 auto;
border-radius: 50%;
}
.carousel .img-box img {
width: 100%;
height: 100%;
display: block;
border-radius: 50%;
}
.carousel .testimonial {	
padding: 30px 0 10px;
color: #FFF !important;
}
.carousel .overview {	
text-align: center;
padding-bottom: 5px;
}
.carousel .overview b {
color: #FFF;
font-size: 15px;
text-transform: uppercase;
display: block;	
padding-bottom: 5px;
}
.carousel .star-rating i {
font-size: 18px;
color: #ffdc12;
}
.carousel .carousel-control {
width: 30px;
height: 30px;
border-radius: 50%;
background: #999;
text-shadow: none;
top: 4px;
}
.carousel-control i {
font-size: 20px;
margin-right: 2px;
}
.carousel-control.left {
left: auto;
right: 40px;
}
.carousel-control.right i {
margin-right: -2px;
}
.carousel .carousel-indicators {
bottom: 15px;
}
.carousel-indicators li, .carousel-indicators li.active {
width: 11px;
height: 11px;
margin: 1px 5px;
border-radius: 50%;
}
.carousel-indicators li {	
background: #e2e2e2;
border-color: transparent;
}
.carousel-indicators li.active {
border: none;
background: #888;		
}
</style>

</div>

<div style="background: url(images/footer-bg.png); width: 100%; display: block; overflow: hidden; float: left; margin: 0px auto 0px auto;" class="___flow___">

    <div class="_in_content_" style="margin-top: 30px; margin-bottom: 30px;">

        <div class="foot_side___">
            <h1 class="_seg____htxt_" style="color: #FFF;">Most innovative binary option platform</h1>
            <div class="_txt___" style="font-size: inherit; color: #b7b6b6;">Bitwealth  is a company formed by a team of PROFESSIONAL TRADERS with EXPERTISE in one of the biggest financial markets of today, the CRYPTOCURRENCY/BINARY. Our focus is to provide our affiliates with daily and constant profits in these markets.</div>
        </div>

        <div class="foot_side___">
            <h1 class="_seg____htxt_" style="color: #FFF;">Quick Links</h1>
            <a class="_txt___ _fLink" href="index-2.html" style="font-size: inherit; color: #69e08a;">Home</a>
            <a class="_txt___ _fLink" href="login.html" style="font-size: inherit; color: #69e08a;">Login</a>
            <a class="_txt___ _fLink" href="register.html" style="font-size: inherit; color: #69e08a;">Register</a>
        </div>

        <div class="foot_side___">
            <h1 class="_seg____htxt_" style="color: #FFF;">Risk Warning</h1>
            <div class="_txt___" style="font-size: inherit; color: #b7b6b6;">Bitwealth  is one of the leading platforms in the United States offering binary options, Forex and spreads. Regulated by the CFTC and based in New York. It is also regulated by the IFSC of Belize, as well as the Cyprus Securities and Exchange Commission.</div>
        </div>
        
        <div class="foot_side___">
            <h1 class="_seg____htxt_" style="color: #FFF;">Contact Us</h1>
            <p class="_txt___ _cLink">Address: <span style="font-size: inherit; color: #69e08a; text-transform: capitalize;">Maryville, Tennessee, United State.</span></p>
            <p class="_txt___ _cLink">Email: <a href="mailto:cshrem04@gmail.com" style="font-size: inherit; color: #69e08a; text-transform: lowercase;"><span >support@bitwealth.info</span></a></p>
                            
        </div>
    </div>

</div>

<div style="background: #232733; width: 100%; display: block; overflow: hidden; float: left; padding: 20px; margin: 0px; background-position: center;">

    <div class="_in_content_">

        <center>
            <span style="margin-bottom: 20px; font-size: 13px; width: 100%; display: block; max-width: 500px; color: grey;">
                You are granted limited non-exclusive non-transferable rights to use the IP provided on this website for personal and non-commercial purposes in relation to the services offered on the Website only.
            </span>
            <span style="color: #FFF;">Bitwealth , &copy; 2013 - 2025</span>
        </center>

    </div>

</div>


	<!-- scripts -->
	<script data-cfasync="false" src="images/email-decode.min.9e8f56e8e180.js"></script><script src="images/particles.f10f10368bb1.js"></script>
	<script src="images/app.95c713a2a098.js"></script>
	<script type="text/javascript" src="images/jquery.fake-notification.min.13d39a7d6827.js"></script>
	<!-- stats.js -->
	<!-- <script src="./particles.js-master/demo/js/lib/stats.js"></script> -->
	<script>
	  var count_particles, stats, update;
	  stats = new Stats;
	  stats.setMode(0);
	  stats.domElement.style.position = 'absolute';
	  stats.domElement.style.left = '0px';
	  stats.domElement.style.top = '0px';
	  document.body.appendChild(stats.domElement);
	  count_particles = document.querySelector('.js-count-particles');
	  update = function() {
	    stats.begin();
	    stats.end();
	    if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
	      count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
	    }
	    requestAnimationFrame(update);
	  };
	  requestAnimationFrame(update);
	</script>
	<script>
		$(document).ready(function() {
            $('#notification-1').Notification({
                // Notification varibles
                Varible1: ["Dirk", "Johnny", "Watkin ", "Alejandro",  "Vina",  "Tony",   "Ahmed","Jackson",  "Noah", "Aiden",  "Darren", "Isabella", "Aria", "John", "Greyson", "Peter", "Mohammed", "William",
                "Lucas", "Amelia", "Mason", "Mathew", "Richard", "Chris", "Mia", "Oliver"],
                Varible2: ["USA","UAE","ITALY", "FLORIDA",  "MEXICO",  "INDIA",  "CHINA",  "CAMBODIA",  "UNITED KINGDOM",  "GERMANY", "AUSTRALIA",  "BANGLADESH", "SWEDEN", "PAKISTAN", "MALDIVES", "SEYCHELLES", 
                "BOLIVIA",
                 "SOUTH AFRICA", "ZAMBIA", "ZIMBABWE", "LEBANESE", "SAUDI ARABIA", "CHILE", "PEUTO RICO"],
                
                Amount: [100,2500,555,666,444,333,333],                    
                Content: '[Varible1] from [Varible2] has just Earned <b>$[Amount]</b>.',
                // Timer
                Show: ['stable', 5, 10],
                Close: 5,
                Time: [0, 23],
                // Notification style 
                LocationTop: [true, '30%'],
                LocationBottom:[false, '10%'],
                LocationRight: [false, '10%'],                      
                LocationLeft:[true, '10px'],
                Background: '#000000',
                BorderRadius: 5,
                BorderWidth: 1,
                BorderColor: '#ffc552',
                TextColor: 'white',
                IconColor: '#ffffff',
                // Notification Animated   
                AnimationEffectOpen: 'slideInUp',
                AnimationEffectClose: 'slideOutDown',
                // Number of notifications
                Number: 40,
                // Notification link
                Link: [false, 'index-4.html', '_blank']
                
            });         
        }); 				
	</script>
	
	
	
	<!-- GetButton.io widget -->
<!-- /GetButton.io widget -->


<!-- Smartsupp Live Chat script -->

<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = '13100d1c05f0be79f45c6c01d494fb4cb446c094';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='../www.smartsuppchat.com/loaderd41d.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>
<noscript> Powered by <a href=%e2%80%9chttps_/www.smartsupp.html target=“_blank”>Smartsupp</a></noscript>


<script src="images/jquery-2.2.4.min.2f6b11a7e914.js"></script>
<!-- bootstrap 4 js -->
<script src="images/popper.min.19077fa46eb5.js"></script>
<script src="images/bootstrap.min.45dd0ec9897d.js"></script>
<script src="images/owl.carousel.min.b7b9c97cd68e.js"></script>
<script src="images/metismenu.min.6a2c8ec26b4e.js"></script>

<script src="images/jquery.slicknav.min.745444b5ce44.js"></script>

<!-- others plugins -->
<script src="images/plugins.f0558ac89ecd.js"></script>
<script src="images/scripts.adc44c01ec0f.js"></script>


<!-- start chart js -->
<script src="images/chart.min.js"></script>
<!-- start highcharts js -->
<script src="highcharts.html"></script>
<!-- start zingchart js -->
<script src="images/zingchart.min.js"></script>
<script>
zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
</script>
<!-- all line chart activation -->
<script src="images/line-chart.a11e9a16315b.js"></script>
<!-- all pie chart -->
<script src="images/pie-chart.3162425b02c4.js"></script>
</body>

<!-- Mirrored from ameriteoption.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Nov 2023 15:14:00 GMT -->

<!-- Mirrored from cryptoedgeinvest.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Jan 2025 13:36:39 GMT -->

<!-- Mirrored from bitwealthsolutions.info/aboutus.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 01 Mar 2025 09:08:14 GMT -->
</html>