
<!DOCTYPE html>
<html> 


<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    
     



	<title> Home  | Reliable and Profitable Investment in Binary Options, Stocks, Crypto, CFD's </title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="description" content="Bitwealth is a true opportunity to earn on cryptocurrency/binary. Bitwealth  is a company formed by a team of PROFESSIONAL TRADERS with EXPERTISE in one of the biggest financial markets of today, the CRYPTOCURRENCY/BINARY. Our focus is to provide our affiliates with daily and constant profits in these markets.">
	<meta name="author" content="Bitwealth ">
	
<link rel="stylesheet" href="images/bootstrap.min.450fc463b8b1.css">
<link rel="stylesheet" href="images/font-awesome.min.47d102a0255f.css">
<link rel="stylesheet" href="images/themify-icons.02d06221131a.css">
<link rel="stylesheet" href="images/metismenu.a45180561e68.css">
<link rel="stylesheet" href="images/owl.carousel.min.3fdf71368985.css">
<link rel="stylesheet" href="images/slicknav.min.73aebdebcb3f.css">
<!-- others css -->
<link rel="stylesheet" href="images/typography.4b324edebf45.css">
<link rel="stylesheet" href="images/default-css.96cbeff5adf0.css">
<link rel="stylesheet" href="images/styles.8a8072e354a3.css">
<link rel="stylesheet" href="images/responsive.09e9699fea20.css">
<!-- modernizr css -->
<script src="images/modernizr-2.8.3.min.da941a6e1e1d.js"></script>



	<link rel="icon" href="images/favicon.cd9b23da0f0c.png" sizes="32x32" type="image/png">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap" rel="stylesheet">
	<link rel="stylesheet" href="images/font-awesome.min.0e51bceb787c.css">
	<link rel="stylesheet" href="images/bootstrap.min.13856d3b86d2.css">
	<script src="images/jquery.min.4f252523d4af.js"></script>
	<script src="images/bootstrap.min.5869c96cc8f1.js"></script>
	<link rel="stylesheet" type="text/css" href="images/style.1a8131ee8357.css">
	<link rel="stylesheet" href="images/animate.min.7da1b41592f0.css">
	<link rel="stylesheet" href="images/fake-notification-min.0f46a238cbd1.css">
	



	<style type="text/css">
		.logo{
			height: 42px;
			float: left;
		}
		.__tL{
			padding: 0px 10px;
			border-radius: 5px;
			background: #69e08a;
			float: right;
			height: 35px;
			font-size: 14px;
			font-weight: 700;
			line-height: 35px;
			text-decoration: none;
			color: #232733;
			margin-left: 3px;
		}
		.__tL:hover{
			text-decoration: none;
			color: #f48104;
		}

		input {
			color: grey;
		}
	</style>
</head>
<body>
	<script src="http://widgets.coingecko.com/coingecko-coin-price-marquee-widget"></script>
<coingecko-coin-price-marquee-widget coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#ffffff" locale="en"></coingecko-coin-price-marquee-widget>
<div style="background: #232733;">
    <div class="_in_content_" style="padding: 20px 15px;">
        <a href="/">
            <img class="logo hidden-xs" src="images/lu2.87bfaf7bf745.png">
            <img class="logo visible-xs" src="images/lu.92d3083e7fc4.png" style="height: 32px; margin-top: 2px;">
        </a>
		
		<a class="__tL" href="#add-services">ADDITIONAL SERVICES</a>

		<a class="__tL" href="/about">ABOUT US</a>
		<a class="__tL" href="/register">SIGN UP</a>
		<a class="__tL" href="/login">LOGIN</a>
		
                
    </div>
</div>
	
<style>
    p {
        color: #fff;
    }
</style>
<div id="notification-1" class="notification">			
    <div class="notification-block">
        <div class="notification-img">
            <!-- Your image or icon -->
            <i class="fa fa-btc" aria-hidden="true"></i>
            <!-- / Your image or icon -->
        </div>
        <div class="notification-text-block">
            <div class="notification-title">
                <!-- Notification Title -->
                Earning
                <!-- / Notification Title -->
            </div>
            <div class="notification-text"></div>
        </div>
    </div>
</div>

<!-- TradingView Widget BEGIN -->

<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener" target="_blank"><span class="blue-text"></span></a></div>
    <script type="text/javascript" src="images/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "proName": "FOREXCOM:SPXUSD",
        "title": "S&P 500"
      },
      {
        "proName": "FOREXCOM:NSXUSD",
        "title": "US 100"
      },
      {
        "proName": "FX_IDC:EURUSD",
        "title": "EUR/USD"
      },
      {
        "proName": "BITSTAMP:BTCUSD",
        "title": "Bitcoin"
      },
      {
        "proName": "BITSTAMP:ETHUSD",
        "title": "Ethereum"
      },
      {
        "description": "",
        "proName": "BINANCE:BTCUSDT"
      },
      {
        "description": "",
        "proName": "BITSTAMP:BTCUSD"
      },
      {
        "description": "",
        "proName": "BINANCE:BTCUSDTPERP"
      }
    ],
    "showSymbolLogo": true,
    "colorTheme": "dark",
    "isTransparent": false,
    "displayMode": "adaptive",
    "locale": "en"
  }
    </script>
  </div>

</div>
<!-- TradingView Widget END -->

<div class="main_header__">
    <div style="position: absolute; top: 0; left: 0; width: 100%; z-index: -1; height: 100%;" id="particles-js"></div>
    <div class="_in_content_" style="margin-top: 20px;">
        <div class="_l_div_m">
            <h2 class="l_text">BITWEALTH<br>INVESTMENTS<br>IN BITCOIN</h2>
                <center>
                       <div class="cnt_icon_num">
                        <i class="icon-traders-online"></i>
                        <div class="value">741+</div>
                        <p>Traders<br>Online</p>
                    </div>
                    <div class="cnt_icon_num">
                        <i class="icon-total-registred"></i>
                        <div class="value">156,789+</div>
                        <p>Total<br>Registered </p>
                    </div>
                    <div class="cnt_icon_num">
                        <i class="icon-best-today"></i>
                        <div class="value">888,909+</div>
                        <p>Deals<br>Today</p>
                    </div>
               </center>
        </div>
        <img class="r_img" src="images/pc_main.048f775ca913.png">
    </div>

</div>

<h2 class="_seg____header__">HOW Bitwealth Solutions WORKS?</h2>

<div class="_in_content_">

    <center>
        
        <div class="_seg____ b_none_">
            <center>
                <img class="_seg___img"  src="images/deposit.54443d45496f.png">
                <h1 class="_seg____htxt_" style="text-align: center;">DEPOSIT</h1>
                <div>Send bitcoins to the personal trading wallet, which generated by the platform</div>
            </center>
        </div>

        <div class="_seg____ b_none_">
            <center>
                <img class="_seg___img"  src="images/profit.a4b8eb2afda4.png">
                <h1 class="_seg____htxt_" style="text-align: center;">GET PROFIT</h1>
                <div>Earn huge return on investment. With our professional team of traders, you are guaranteed of your earnings</div>
            </center>
        </div>

        <div class="_seg____ b_none_">
            <center>
                <img class="_seg___img"  src="images/withdraw.8b6ea3e239ed.png">
                <h1 class="_seg____htxt_" style="text-align: center;">WITHDRAW</h1>
                <div>Our withdrawals are all processed instantly after they are requested. We provide multiple withdrawal methods</div>
            </center>
        </div>

    </center>

</div>

<h2 id="add-services" class="_seg____header__">Additional Services Provided by Bitwealth </h2>

<div class="_in_content_">

    <center>
        
        <div class="_seg____ b_none_">
            <center>
                <img class="_seg___img"  src="images/affiliate.11e21b7aabfb.png">
                <h1 class="_seg____htxt_" style="text-align: center;">Affiliate Marketing</h1>
                <div>
                    <p>
                        Bitcoin Affiliate Marketing combines the prowess of affiliate marketing with the decentralized and innovative world of cryptocurrency. It enables your business to tap into the expansive and dynamic realm of Bitcoin enthusiasts and investors
                    </p>
                    <p>
                        Chat the support or email us @ support@bitwealth.info to know 'Why Choose Bitcoin Affiliate Marketing with LucrativeEdges'
                    </p>
                </div>
            </center>
        </div>

        <div class="_seg____ b_none_">
            <center>
                <img class="_seg___img"  src="images/dropp.1cdd026c6f47.webp">
                <h1 class="_seg____htxt_" style="text-align: center;">DROPSHIPPING</h1>
                <div>
                    <p>Dropshipping is a retail fulfillment method where the seller doesn't hold the products in stock. Instead, when you sell a product, you purchase the item from a third party and have it shipped directly to the customer. This eliminates the need for inventory management, allowing you to focus on sales and marketing.</p>
                    <p>
                        Chat the support or email us @ support@bitwealth.info to know how and 'Why Choose Dropshipping with LucrativeEdges'
                    </p>
                </div>
            </center>
        </div>

        <div class="_seg____ b_none_">
            <center>
                <img class="_seg___img"  src="images/ecom.0c0c6be87cab.png">
                <h1 class="_seg____htxt_" style="text-align: center;">ECOMMERCE</h1>
                <div>
                    <p>E-commerce, short for electronic commerce, refers to the buying and selling of goods and services over the internet. It has become a fundamental aspect of modern business, reshaping the way transactions are conducted. Here's a brief explanation of key components and concepts related to e-commerce</p>
                    <p>
                        Chat the support or email us @ support@bitwealth.info to get started today
                    </p>
                </div>
            </center>
        </div>

        <div class="_seg____ b_none_">
            <center>
                <img class="_seg___img"  src="images/trading.6193abb9f467.jpg">
                <h1 class="_seg____htxt_" style="text-align: center;">TRADING</h1>
                <div>
                    <p>
                        Bitcoin trading refers to the buying and selling of Bitcoin, a decentralized digital currency, with the aim of making a profit. Bitcoin operates on a peer-to-peer network using blockchain technology, and its value is determined by market demand and supply dynamics. Here's a brief explanation of key concepts related to Bitcoin trading</p>
                        <p>
                            Chat the support or email us @ support@bitwealth.info to get to know more about trading.
                        </p>
                </div>
            </center>
        </div>

    </center>

</div>


<h2 class="_seg____header__" style="margin-top: 50px;">GET UPDATED WITH CRYPTOs</h2>

<center>

    <!-- TradingView Widget BEGIN -->
    <script src="images/coingecko-coin-market-ticker-list-widget.js"></script>
    <coingecko-coin-market-ticker-list-widget  coin-id="bitcoin" currency="usd" locale="en"></coingecko-coin-market-ticker-list-widget>
    <!-- TradingView Widget END -->
</center>

<div style="background: url(images/slide_2.jpg); width: 100%; display: block; overflow: hidden; float: left; padding-bottom: 50px; margin: 40px auto; background-repeat: no-repeat; background-position: center; background-size: cover;" class="___flow___">

    <h2 class="_seg____header__" style="margin-top: 50px;">OUR AWARD PLATFORM</h2>

    <div class="_in_content_">

        <center>
        
            <div class="_seg____ a_seg____ b_none_"  style="float: left;">
                <img class="_seg___img a_simg_" src="images/award_13.f835e279adc8.png">
                <div class="_side___ _b_side___">
                    <h1 class="_seg____htxt_" style="color: #FFF;">Century International Quality Gold ERA Award</h1>
                    <div class="_txt___" style="font-size: 17px;">The prestigious award was given to Bitwealth  in recognition of our outstanding commitment to Quality and Excellence, particularly in the realm of Customer Satisfaction.</div>
                </div>
            </div>
        
            <div class="_seg____ a_seg____ b_none_"  style="float: left;">
                <img class="_seg___img a_simg_" src="images/award_10.950a3dd6a953.png">
                <div class="_side___ _b_side___">
                    <h1 class="_seg____htxt_" style="color: #FFF;">Most innovative binary option platform</h1>
                    <div class="_txt___" style="font-size: 17px;">As Steve Jobs once said, innovation distinguishes between leaders and followers. Our innovative approach makes our product shine—and the evidence is in this beautiful accolade.</div>
                </div>
            </div>
        
            <div class="_seg____ a_seg____ b_none_"  style="float: left;">
                <img class="_seg___img a_simg_" src="images/award_5.aa6e4593ac6f.png">
                <div class="_side___ _b_side___">
                    <h1 class="_seg____htxt_" style="color: #FFF;">Most Reliable Binary Options Broker</h1>
                    <div class="_txt___" style="font-size: 17px;">Our first priority is the security of our clients' funds. This was recognized by the experts at MasterForex-V, who awarded Bitwealth  the title of Most Trusted Binary Options Broker.</div>
                </div>
            </div>
        
            <div class="_seg____ a_seg____ b_none_" style="float: left;">
                <img class="_seg___img a_simg_" src="images/award_14.111c1966f1e8.png">
                <div class="_side___ _b_side___">
                    <h1 class="_seg____htxt_" style="color: #FFF;">The intelligent trading app for binary options</h1>
                    <div class="_txt___" style="font-size: 17px;">The Mobile Star Awards is the largest annual mobile innovations and software awards program in the world. In 2016, the organization honored the Bitwealth  trading app as the best in its category, praising its efficiency and impeccable design.</div>
                </div>
            </div>
        
            <div class="_seg____ a_seg____ b_none_" style="float: left;">
                <img class="_seg___img a_simg_" src="images/award_6.dbafa3943e6e.png">
                <div class="_side___ _b_side___">
                    <h1 class="_seg____htxt_" style="color: #FFF;">World's Leading Binary Options Broker</h1>
                    <div class="_txt___" style="font-size: 17px;">At the same MasterForex-V Bitwealth  was awarded for being the World's Leading Binary Options Broker. The perfection in our service and product was recognized by the experts of the conference in 2014.</div>
                </div>
            </div>
        
            <div class="_seg____ a_seg____ b_none_" style="float: left;">
                <img class="_seg___img a_simg_" src="images/award_8.9b59a5d1a5c7.png">
                <div class="_side___ _b_side___">
                    <h1 class="_seg____htxt_" style="color: #FFF;">Fastest growing binary option brand</h1>
                    <div class="_txt___" style="font-size: 17px;">Global Brands Magazine, Britain’s reputable brand observer, awarded Bitwealth  along with a number of outstanding European brands — an achievement worth working for.</div>
                </div>
            </div>

        </center>

    </div>
    
</div>

<h2 class="_seg____header__" style="margin-top: 50px;">OUR PLATFORM ADVANTAGES</h2>

<div class="_in_content_">

    <center>
        
        <div class="_seg____ b_none_">
            <img class="_seg___img _simg_" src="images/payment.65f534e8dd76.png">
            <div class="_side___">
                <h1 class="_seg____htxt_">Payment Options</h1>
                <div class="_txt___">We provide various withdrawal methods.</div>
            </div>
        </div>

        <div class="_seg____ b_none_">
            <img class="_seg___img _simg_" src="images/security.f60ed47a6e60.png">
            <div class="_side___">
                <h1 class="_seg____htxt_">Strong Security</h1>
                <div class="_txt___">With advanced security systems, we keep your account always protected.</div>
            </div>
        </div>

        <div class="_seg____ b_none_">
            <img class="_seg___img _simg_" src="images/world.14acfa7d1035.png">
            <div class="_side___">
                <h1 class="_seg____htxt_">World Coverage</h1>
                <div class="_txt___">Our platform is used by bitcoin investors worldwide.</div>
            </div>
        </div>

        <div class="_seg____ b_none_">
            <img class="_seg___img _simg_" src="images/support.8af0363bea46.png">
            <div class="_side___">
                <h1 class="_seg____htxt_">Experienced Team</h1>
                <div class="_txt___">Our experienced team helps us build the best product and deliver first class service to our clients.</div>
            </div>
        </div>

        <div class="_seg____ b_none_">
            <img class="_seg___img _simg_" src="images/report.4ef698d8a99a.png">
            <div class="_side___">
                <h1 class="_seg____htxt_">Advanced Reporting</h1>
                <div class="_txt___">We provide reports for all investments done using our platform.</div>
            </div>
        </div>

        <div class="_seg____ b_none_">
            <img class="_seg___img _simg_" src="images/platform.dcdf5973ed9c.png">
            <div class="_side___">
                <h1 class="_seg____htxt_">Cross-Platform Trading</h1>
                <div class="_txt___">Our platform can be accessed from various devices such as Phones, Tablets & Pc.</div>
            </div>
        </div>

        <div class="_seg____ b_none_">
            <img class="_seg___img _simg_" src="images/support.8af0363bea46.png">
            <div class="_side___">
                <h1 class="_seg____htxt_">Expert Suport</h1>
                <div class="_txt___">Our 24/7 support allows us to keep in touch with customers in all time zones and regions.</div>
            </div>
        </div>

        <div class="_seg____ b_none_">
            <img class="_seg___img _simg_" src="images/exchange.e6dbf1a964b2.png">
            <div class="_side___">
                <h1 class="_seg____htxt_">Instant Exchange</h1>
                <div class="_txt___">Change your world today and make yourself a great tomorrow, invest with the little money you have and make a great profit at the end.</div>
            </div>
        </div>

    </center>

    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"><a href="#" rel="noopener" target="_blank"><span class="blue-text">Quotes</span></a> by TradingView</div>
      <script type="text/javascript" src="images/embed-widget-tickers.6cf7657301c3.js" async>
      {
      "symbols": [
        {
          "title": "S&P 500",
          "proName": "OANDA:SPX500USD"
        },
        {
          "title": "Nasdaq 100",
          "proName": "OANDA:NAS100USD"
        },
        {
          "title": "EUR/USD",
          "proName": "FX_IDC:EURUSD"
        },
        {
          "title": "BTC/USD",
          "proName": "BITSTAMP:BTCUSD"
        },
        {
          "title": "ETH/USD",
          "proName": "BITSTAMP:ETHUSD"
        }
      ],
      "colorTheme": "dark",
      "isTransparent": true,
      "locale": "en"
    }
      </script>
    </div>
    <!-- TradingView Widget END -->
</div>

<h2 class="_seg____header__" style="margin-top: 50px;">WHAT INVESTORS SAY</h2>

<div class="_in_content_">
    <style type="text/css">
body {
font-family: "Open Sans", sans-serif;
}
.carousel {
width: 100%;
margin: 0 auto;
padding-bottom: 50px;
}
.carousel .item {
color: #999;
font-size: 14px;
text-align: center;
overflow: hidden;
min-height: 340px;
}
.carousel .item a {
color: #eb7245;
}
.carousel .img-box {
width: 145px;
height: 145px;
margin: 0 auto;
border-radius: 50%;
}
.carousel .img-box img {
width: 100%;
height: 100%;
display: block;
border-radius: 50%;
}
.carousel .testimonial {	
padding: 30px 0 10px;
color: #FFF !important;
}
.carousel .overview {	
text-align: center;
padding-bottom: 5px;
}
.carousel .overview b {
color: #FFF;
font-size: 15px;
text-transform: uppercase;
display: block;	
padding-bottom: 5px;
}
.carousel .star-rating i {
font-size: 18px;
color: #ffdc12;
}
.carousel .carousel-control {
width: 30px;
height: 30px;
border-radius: 50%;
background: #999;
text-shadow: none;
top: 4px;
}
.carousel-control i {
font-size: 20px;
margin-right: 2px;
}
.carousel-control.left {
left: auto;
right: 40px;
}
.carousel-control.right i {
margin-right: -2px;
}
.carousel .carousel-indicators {
bottom: 15px;
}
.carousel-indicators li, .carousel-indicators li.active {
width: 11px;
height: 11px;
margin: 1px 5px;
border-radius: 50%;
}
.carousel-indicators li {	
background: #e2e2e2;
border-color: transparent;
}
.carousel-indicators li.active {
border: none;
background: #888;		
}
</style>

        <div id="myCarousel" style="overflow: hidden;" class="testimonial-carousel carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
                                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                                <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                                <li data-target="#myCarousel" data-slide-to="4" class=""></li>
                        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner"> 
              
                 
                <div class="item carousel-item active">
                    <div class="img-box"><img src="images/0ca80a9740d2a5a7be4caeb6ea4f64bc.ec9676e26659.jpg" alt=""></div>
                    <p class="testimonial">Hello everyone Investing is not the problem but getting the returns and profits is where most of us have problems. I've been long in Bitwealth Bitwealth, so I know how it feels like to lose your money. I have lost my hard earned money on fake sites and managers but thanks to Bitwealth  for helping me recover all. From investing to payout it's been automatic. If you're re willing to earn Join today and invest and recover all your lost is legit and certified.</p>
                    <p class="overview"><b>Brown </b></p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                                     
                <div class="item carousel-item ">
                    <div class="img-box"><img src="images/6b6f38b729a118f10ef528753e1f14fa.9e2b64cd7d5a.jpg" alt=""></div>
                    <p class="testimonial">Truly the corona outbreak have really affected me a lot financially, but because of the help of Bitwealth Bitwealth in through this forex investment Am still financially stable</p>
                    <p class="overview"><b>Melissa dororthy</b></p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                                     
                <div class="item carousel-item ">
                    <div class="img-box"><img src="images/20aab71f88a53b30534b49407b1e61b4.6e601d3cbba9.jpg" alt=""></div>
                    <p class="testimonial">I have become dept free since I started my trade with Bitwealth  and I have earn over $10,000 and more still coming all thank this trading platform  i have made so much profits I made a withdraw of $25000 I'm so much excited at this moment.</p>
                    <p class="overview"><b>Glenda karina</b></p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                                     
                <div class="item carousel-item ">
                    <div class="img-box"><img src="images/47cbbfcf351a84a2c74ba853146d9713.3c2be9af729d.jpg" alt=""></div>
                    <p class="testimonial">I want to say a big thank you to Bitwealth , Just  got my profit of $7500 in my Bank account. This is indeed a trust worthy platform to invest</p>
                    <p class="overview"><b>Carly Jones</b></p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                                     
                <div class="item carousel-item ">
                    <div class="img-box"><img src="images/998bbc715738adbee6391aa77185ed78.762a073d98f1.jpg" alt=""></div>
                    <p class="testimonial">Am  Allen from North Carolina, Currently living in Arizona with my Family, i came across Bitwealth  while browsing through facebook,
I accessed the site and contact them via whatsapp and i started investing with $5000 and am making $51,560.00 Weekly.</p>
                    <p class="overview"><b>Allen Brewer</b></p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                                  

                 
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div> 
                                                                       
</div>

<div style="background: url(images/footer-bg.png); width: 100%; display: block; overflow: hidden; float: left; margin: 0px auto 0px auto;" class="___flow___">

    <div class="_in_content_" style="margin-top: 30px; margin-bottom: 30px;">

        <div class="foot_side___">
            <h1 class="_seg____htxt_" style="color: #FFF;">Most innovative binary option platform</h1>
            <div class="_txt___" style="font-size: inherit; color: #b7b6b6;">Bitwealth  is a company formed by a team of PROFESSIONAL TRADERS with EXPERTISE in one of the biggest financial markets of today, the CRYPTOCURRENCY/BINARY. Our focus is to provide our affiliates with daily and constant profits in these markets.</div>
        </div>

        <div class="foot_side___">
            <h1 class="_seg____htxt_" style="color: #FFF;">Quick Links</h1>
            <a class="_txt___ _fLink" href="/" style="font-size: inherit; color: #69e08a;">Home</a>
            <a class="_txt___ _fLink" href="/login" style="font-size: inherit; color: #69e08a;">Login</a>
            <a class="_txt___ _fLink" href="/register" style="font-size: inherit; color: #69e08a;">Register</a>
        </div>

        <div class="foot_side___">
            <h1 class="_seg____htxt_" style="color: #FFF;">Risk Warning</h1>
            <div class="_txt___" style="font-size: inherit; color: #b7b6b6;">Bitwealth  is one of the leading platforms in the United States offering binary options, Forex and spreads. Regulated by the CFTC and based in New York. It is also regulated by the IFSC of Belize, as well as the Cyprus Securities and Exchange Commission.</div>
        </div>
        
        <div class="foot_side___">
            <h1 class="_seg____htxt_" style="color: #FFF;">Contact Us</h1>
            <p class="_txt___ _cLink">Address: <span style="font-size: inherit; color: #69e08a; text-transform: capitalize;">Maryville, Tennessee, United State.</span></p>
            <p class="_txt___ _cLink">Email: <a href="mailto:cshrem04@gmail.com" style="font-size: inherit; color: #69e08a; text-transform: lowercase;"><span >cshrem04@gmail.com</span></a></p>
                            
        </div>
    </div>

</div>

<div style="background: #232733; width: 100%; display: block; overflow: hidden; float: left; padding: 20px; margin: 0px; background-position: center;">

    <div class="_in_content_">

        <center>
            <span style="margin-bottom: 20px; font-size: 13px; width: 100%; display: block; max-width: 500px; color: grey;">
                You are granted limited non-exclusive non-transferable rights to use the IP provided on this website for personal and non-commercial purposes in relation to the services offered on the Website only.
            </span>
            <span style="color: #FFF;">Bitwealth , &copy; 2013 - 2025</span>
        </center>

    </div>

</div>


	<!-- scripts -->
	<script data-cfasync="false" src="images/email-decode.min.9e8f56e8e180.js"></script><script src="images/particles.f10f10368bb1.js"></script>
	<script src="images/app.95c713a2a098.js"></script>
	<script type="text/javascript" src="images/jquery.fake-notification.min.13d39a7d6827.js"></script>
	<!-- stats.js -->
	<!-- <script src="./particles.js-master/demo/js/lib/stats.js"></script> -->
	<script>
	  var count_particles, stats, update;
	  stats = new Stats;
	  stats.setMode(0);
	  stats.domElement.style.position = 'absolute';
	  stats.domElement.style.left = '0px';
	  stats.domElement.style.top = '0px';
	  document.body.appendChild(stats.domElement);
	  count_particles = document.querySelector('.js-count-particles');
	  update = function() {
	    stats.begin();
	    stats.end();
	    if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
	      count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
	    }
	    requestAnimationFrame(update);
	  };
	  requestAnimationFrame(update);
	</script>
	<script>
		$(document).ready(function() {
            $('#notification-1').Notification({
                // Notification varibles
                Varible1: ["Dirk", "Johnny", "Watkin ", "Alejandro",  "Vina",  "Tony",   "Ahmed","Jackson",  "Noah", "Aiden",  "Darren", "Isabella", "Aria", "John", "Greyson", "Peter", "Mohammed", "William",
                "Lucas", "Amelia", "Mason", "Mathew", "Richard", "Chris", "Mia", "Oliver"],
                Varible2: ["USA","UAE","ITALY", "FLORIDA",  "MEXICO",  "INDIA",  "CHINA",  "CAMBODIA",  "UNITED KINGDOM",  "GERMANY", "AUSTRALIA",  "BANGLADESH", "SWEDEN", "PAKISTAN", "MALDIVES", "SEYCHELLES", 
                "BOLIVIA",
                 "SOUTH AFRICA", "ZAMBIA", "ZIMBABWE", "LEBANESE", "SAUDI ARABIA", "CHILE", "PEUTO RICO"],
                
                Amount: [100,2500,555,666,444,333,333],                    
                Content: '[Varible1] from [Varible2] has just Earned <b>$[Amount]</b>.',
                // Timer
                Show: ['stable', 5, 10],
                Close: 5,
                Time: [0, 23],
                // Notification style 
                LocationTop: [true, '30%'],
                LocationBottom:[false, '10%'],
                LocationRight: [false, '10%'],                      
                LocationLeft:[true, '10px'],
                Background: '#000000',
                BorderRadius: 5,
                BorderWidth: 1,
                BorderColor: '#ffc552',
                TextColor: 'white',
                IconColor: '#ffffff',
                // Notification Animated   
                AnimationEffectOpen: 'slideInUp',
                AnimationEffectClose: 'slideOutDown',
                // Number of notifications
                Number: 40,
                // Notification link
                Link: [false, 'index-4.html', '_blank']
                
            });         
        }); 				
	</script>
	
	
	
	<!-- GetButton.io widget -->
<!-- /GetButton.io widget -->


<!-- Smartsupp Live Chat script -->
<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = '13100d1c05f0be79f45c6c01d494fb4cb446c094';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='../www.smartsuppchat.com/loaderd41d.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>
<noscript> Powered by <a href=%e2%80%9chttps_/www.smartsupp.html target=“_blank”>Smartsupp</a></noscript>



<script src="images/jquery-2.2.4.min.2f6b11a7e914.js"></script>
<!-- bootstrap 4 js -->
<script src="images/popper.min.19077fa46eb5.js"></script>
<script src="images/bootstrap.min.45dd0ec9897d.js"></script>
<script src="images/owl.carousel.min.b7b9c97cd68e.js"></script>
<script src="images/metismenu.min.6a2c8ec26b4e.js"></script>

<script src="images/jquery.slicknav.min.745444b5ce44.js"></script>

<!-- others plugins -->
<script src="images/plugins.f0558ac89ecd.js"></script>
<script src="images/scripts.adc44c01ec0f.js"></script>


<!-- start chart js -->
<script src="images/chart.min.js"></script>
<!-- start highcharts js -->
<script src="highcharts.html"></script>
<!-- start zingchart js -->
<script src="images/zingchart.min.js"></script>
<script>
zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
</script>
<!-- all line chart activation -->
<script src="images/line-chart.a11e9a16315b.js"></script>
<!-- all pie chart -->
<script src="images/pie-chart.3162425b02c4.js"></script>
<script async src='../d2mpatx37cqexb.cloudfront.net/delightchat-whatsapp-widget/embeds/embed.min.js'></script>
        <script>
          var wa_btnSetting = {"btnColor":"#16BE45","ctaText":"WhatsApp Us","cornerRadius":40,"marginBottom":20,"marginLeft":20,"marginRight":20,"btnPosition":"left","whatsAppNumber":"16147498526","welcomeMessage":"Hello","zIndex":999999,"btnColorScheme":"light"};
          window.onload = () => {
            _waEmbed(wa_btnSetting);
          };
        </script>
      
</body>

<!-- Mirrored from ameriteoption.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Nov 2023 15:14:00 GMT -->

<!-- Mirrored from cryptoedgeinvest.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Jan 2025 13:36:39 GMT -->

<!-- Mirrored from bitwealthsolutions.info/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 01 Mar 2025 09:08:04 GMT -->
</html>