<!doctype html>
<html  lang="en">
	
<!-- Mirrored from bitwealthsolutions.info/register.php by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 01 Mar 2025 09:08:14 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Account Registeration</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base >
		<link REL="stylesheet" href="styles/default3de7.css?33876" type="text/css">
	
	
	<link REL="stylesheet" href="styles/bootstrap/slate/normal/styleef4a.css?33876&amp;372_1739535929" type="text/css">
	
	<link REL="stylesheet" href="styles/font-awesome/css/font-awesome.min3de7.css?33876" type="text/css">
	
	<link REL="stylesheet" href="styles/custom/custom3de7.css?33876" type="text/css">
	
	<link REL="stylesheet" href="styles/pages/.global_registerf960.css?372_1739535929" type="text/css">
	
	<link REL="stylesheet" href="include/jquery-ui/smoothness/jquery-ui.min3de7.css?33876" type="text/css">
	
	<link REL="stylesheet" href="include/bootstrap/css/jquery.mCustomScrollbar3de7.css?33876" type="text/css">
	
	</head>

	<body class=" function-register" >
	<script type="text/javascript" src="include/loadfirst3de7.js?33876"></script><script type="text/javascript" src="include/lang/English3de7.js?33876"></script><div id="search_suggest1"></div>

		<img src="images/bon-logo-white.png" alt="" />
<BR><BR>


		<style>
			
		</style>
		
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="full"
		>
							
<div class="r-form" data-location="top" id="form_top_1" data-makeup="small"  data-pageid="1" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c" data-pageid="1"	
	class=" r-ori-vert			col-md-12
	
">
		 
		<span data-itemtype="custom_button" data-itemid="custom_button"  data-pageid="1" data-page=".global_register" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="New_Button" href="javascript:void(0)" typeid="ib" >
					<span class="glyphicon glyphicon-home"></span>
							Home			</a>
</span>
		</div>					</div>
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="1" data-page=".global_register"	
	class="r-align-left r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="register_header" data-itemid="register_header"  data-pageid="1" data-page=".global_register" >Account Registeration</h2>
		</div>					</div>
	</div>		

									
<div class="r-form" data-location="above-grid" id="form_above-grid_1" data-makeup="small" data-hidden data-pageid="1" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="1"	
	class=" r-ori-vert			col-md-12
	
">
		
		 
		<div data-itemtype="register_message" data-itemid="register_message" data-hidden data-pageid="1" class="alert " role="alert">
<h5></h5>
</div>
				
	</div>					</div>
	</div>		

									




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_1" data-makeup="small"  data-pageid="1" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										


<td
	
	class="r-align-left r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="1" data-page=".global_register"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				



<div class="r-integrated-field form-group clearfix   r-vertical-field" 
	data-fieldname="Username" 
	data-signal-error-for="Username1" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field"  data-pageid="1" data-field="Username" >


	<label class="r-edit-label control-label" for="value_Username_1">
		Username&nbsp;<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		<span id="edit1_Username_0" class="bs-ctrlspan bs-inlinerequired"><input id="value_Username_1"  class="form-control" type="text" autocomplete="off" name="value_Username_1"  maxlength=50 placeholder="" value=""></span>	</div>
	<div class="r-edit-tooltip" data-helpfor="Username">
		<div class="text-muted" >
				</div>
	</div>
</div>



											



<div class="r-integrated-field form-group clearfix   r-vertical-field" 
	data-fieldname="Password" 
	data-signal-error-for="Password1" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1"  data-pageid="1" data-field="Password" >


	<label class="r-edit-label control-label" for="value_Password_1">
		Password&nbsp;<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		<span id="edit1_Password_0" class="bs-ctrlspan bs-inlinerequired"><input   placeholder="" id="value_Password_1"  class="form-control" type="Password" name="value_Password_1"  maxlength=50 value=""></span>	</div>
	<div class="r-edit-tooltip" data-helpfor="Password">
		<div class="text-muted" >
				</div>
	</div>
</div>



											



<div class="r-integrated-field form-group clearfix   r-vertical-field" 
	data-fieldname="Email" 
	data-signal-error-for="Email1" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2"  data-pageid="1" data-field="Email" >


	<label class="r-edit-label control-label" for="value_Email_1">
		Email Address&nbsp;<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		<span id="edit1_Email_0" class="bs-ctrlspan bs-inlinerequired"><input id="value_Email_1"  class="form-control" type="email" name="value_Email_1"  maxlength=50 placeholder="" value=""></span>	</div>
	<div class="r-edit-tooltip" data-helpfor="Email">
		<div class="text-muted" >
				</div>
	</div>
</div>



											



<div class="r-integrated-field form-group clearfix   r-vertical-field" 
	data-fieldname="YourFullName" 
	data-signal-error-for="YourFullName1" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3"  data-pageid="1" data-field="YourFullName" >


	<label class="r-edit-label control-label" for="value_YourFullName_1">
		Your Full Name&nbsp;<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		<span id="edit1_YourFullName_0" class="bs-ctrlspan bs-inlinerequired"><input id="value_YourFullName_1"  class="form-control" type="text" name="value_YourFullName_1"  maxlength=50 placeholder="" value=""></span>	</div>
	<div class="r-edit-tooltip" data-helpfor="YourFullName">
		<div class="text-muted" >
				</div>
	</div>
</div>



											



<div class="r-integrated-field form-group clearfix   r-vertical-field" 
	data-fieldname="Telephone Number" 
	data-signal-error-for="Telephone_Number1" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4"  data-pageid="1" data-field="Telephone_Number" >


	<label class="r-edit-label control-label" for="value_Telephone_Number_1">
		Telephone Number
	</label>
	<div class="r-edit-field">
		<span id="edit1_Telephone_Number_0" class="bs-ctrlspan "><input id="value_Telephone_Number_1"  class="form-control" type="tel" name="value_Telephone_Number_1"  maxlength=15 placeholder="" value=""></span>	</div>
	<div class="r-edit-tooltip" data-helpfor="Telephone_Number">
		<div class="text-muted" >
				</div>
	</div>
</div>



											



<div class="r-integrated-field form-group clearfix   r-vertical-field" 
	data-fieldname="Country" 
	data-signal-error-for="Country1" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5"  data-pageid="1" data-field="Country" >


	<label class="r-edit-label control-label" for="value_Country_1">
		Country
	</label>
	<div class="r-edit-field">
		<span id="edit1_Country_0" class="bs-ctrlspan "><input id="value_Country_1"  class="form-control" type="text" name="value_Country_1"  maxlength=50 placeholder="" value=""></span>	</div>
	<div class="r-edit-tooltip" data-helpfor="Country">
		<div class="text-muted" >
				</div>
	</div>
</div>



											



<div class="r-integrated-field form-group clearfix   r-vertical-field" 
	data-fieldname="AccountStatus" 
	data-signal-error-for="AccountStatus1" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" data-hidden data-pageid="1" data-field="AccountStatus" >


	<label class="r-edit-label control-label" for="value_AccountStatus_1">
		Account Status
	</label>
	<div class="r-edit-field">
		<span id="edit1_AccountStatus_0" class="bs-ctrlspan "><input id="value_AccountStatus_1"  class="form-control" type="text" name="value_AccountStatus_1"  maxlength=50 placeholder="" value="Dormant (Need Funding)"></span>	</div>
	<div class="r-edit-tooltip" data-helpfor="AccountStatus">
		<div class="text-muted" >
				</div>
	</div>
</div>



											



<div class="r-integrated-field form-group clearfix   r-vertical-field" 
	data-fieldname="AccountBalance" 
	data-signal-error-for="AccountBalance1" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" data-hidden data-pageid="1" data-field="AccountBalance" >


	<label class="r-edit-label control-label" for="value_AccountBalance_1">
		Account Balance (USD)
	</label>
	<div class="r-edit-field">
		<span id="edit1_AccountBalance_0" class="bs-ctrlspan "><input id="value_AccountBalance_1"  class="form-control" type="text" name="value_AccountBalance_1"  maxlength=50 placeholder="" value="$0.00"></span>	</div>
	<div class="r-edit-tooltip" data-helpfor="AccountBalance">
		<div class="text-muted" >
				</div>
	</div>
</div>



	
								</td>
			
								</tr>
			</tbody></table>

									
<div class="r-form" data-location="below-grid" id="form_below-grid_1" data-makeup="small"  data-pageid="1" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="1"	
	class="			col-md-12
	
">
		 
		<span data-itemtype="register_save" data-itemid="register_save"  data-pageid="1" data-small data-button-item>
	<a type="button" title="" class="btn btn-success  btn-lg 
	" id="saveButton1" >
							Register			</a>
</span>
	 
		<span data-itemtype="back_to_login" data-itemid="back_to_login"  data-pageid="1" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary  btn-lg 
	" href="login.html"  >
							Back to login page			</a>
</span>
	 
		<span data-itemtype="register_reset" data-itemid="register_reset"  data-pageid="1" data-small data-button-item>
	<a type="button" title="" class="btn btn-danger  btn-lg 
	"  >
							Reset			</a>
</span>
		</div>					</div>
	</div>		

			</div>
		
	<script>
			window.controlsMap = {"ACCOUNT OVERVIEW ADMIN":{"register":{"1":{"oldLayout":false,"layoutVersion":4,"layoutName":"","pageTable":"<global>","video":[],"toolTips":[],"searchPanelActivated":false,"controls":[{"id":1,"mode":"add","ctrlInd":0,"suggest":true,"fieldName":"Username"},{"id":1,"mode":"add","ctrlInd":0,"suggest":true,"fieldName":"Password"},{"id":1,"mode":"add","ctrlInd":0,"suggest":true,"fieldName":"confirm"},{"id":1,"mode":"add","ctrlInd":0,"suggest":true,"fieldName":"Email"},{"id":1,"mode":"add","ctrlInd":0,"suggest":false,"fieldName":"YourFullName"},{"id":1,"mode":"add","ctrlInd":0,"suggest":false,"fieldName":"Telephone Number"},{"id":1,"mode":"add","ctrlInd":0,"suggest":false,"fieldName":"Country"},{"id":1,"mode":"add","ctrlInd":0,"suggest":false,"fieldName":"AccountStatus"},{"id":1,"mode":"add","ctrlInd":0,"suggest":false,"fieldName":"AccountBalance"}],"search":{"searchBlocks":[],"allSearchFields":[],"allSearchFieldsLabels":[],"panelSearchFields":false,"googleLikeFields":["CustomerID","Username","Password","YourFullName","Email","YourBitcoinAddress","AccountBalance","Telephone Number","Balance","Invested","BTCBalance","AccountLevel","Country","AccountStatus"],"inflexSearchPanel":false,"requiredSearchFields":[],"isSearchRequired":false,"searchTableName":"ACCOUNT OVERVIEW ADMIN","shortSearchTableName":"account_admin","submitPageType":"register"},"gMaps":{"isUseMainMaps":false,"isUseFieldsMaps":false,"isUseGoogleMap":false,"APIcode":"","mainMapIds":[],"fieldMapsIds":[],"mapsData":[]}}}}};
			window.viewControlsMap = {"ACCOUNT OVERVIEW ADMIN":{"register":{"1":[]}}};
			window.settings = {"tableSettings":{"ACCOUNT OVERVIEW ADMIN":{"proxy":{"proxy":""},"fieldSettings":{"CustomerID":{"register":{"strName":"CustomerID","editFormat":"Text field","validation":{"validationArr":["IsNumeric","IsRequired"]},"mask":false,"weekdays":"[]","listPageId":"","addPageId":"","maxFileSize":false,"maxTotalFilesSize":false}},"Username":{"register":{"strName":"Username","editFormat":"Text field","validation":{"validationArr":["IsRequired","DenyDuplicated"],"customMessages":{"DenyDuplicated":{"message":"Username %value% already exists","messageType":"Text"}}},"mask":false,"weekdays":"[]","listPageId":"","addPageId":"","maxFileSize":false,"maxTotalFilesSize":false}},"Password":{"register":{"strName":"Password","editFormat":"Text field","validation":{"validationArr":["IsPassword","IsRequired"]},"mask":false,"weekdays":"[]","listPageId":"","addPageId":"","maxFileSize":false,"maxTotalFilesSize":false}},"YourFullName":{"register":{"strName":"YourFullName","editFormat":"Text field","validation":{"validationArr":["IsRequired"]},"mask":false,"weekdays":"[]","listPageId":"","addPageId":"","maxFileSize":false,"maxTotalFilesSize":false}},"Email":{"register":{"strName":"Email","editFormat":"Text field","validation":{"validationArr":["IsEmail","IsRequired","DenyDuplicated"],"customMessages":{"DenyDuplicated":{"message":"Email Address %value% already exists","messageType":"Text"}}},"mask":false,"weekdays":"[]","listPageId":"","addPageId":"","maxFileSize":false,"maxTotalFilesSize":false}},"YourBitcoinAddress":{"register":{"strName":"YourBitcoinAddress","editFormat":"Text field","mask":false,"weekdays":"[]","listPageId":"","addPageId":"","maxFileSize":false,"maxTotalFilesSize":false}},"AccountBalance":{"register":{"strName":"AccountBalance","editFormat":"Text field","mask":false,"weekdays":"[]","listPageId":"","addPageId":"","maxFileSize":false,"maxTotalFilesSize":false}},"Telephone Number":{"register":{"strName":"Telephone Number","editFormat":"Text field","mask":false,"weekdays":"[]","listPageId":"","addPageId":"","maxFileSize":false,"maxTotalFilesSize":false}},"Balance":{"register":{"strName":"Balance","editFormat":"Text field","mask":false,"weekdays":"[]","listPageId":"","addPageId":"","maxFileSize":false,"maxTotalFilesSize":false}},"Invested":{"register":{"strName":"Invested","editFormat":"Text field","mask":false,"weekdays":"[]","listPageId":"","addPageId":"","maxFileSize":false,"maxTotalFilesSize":false}},"BTCBalance":{"register":{"strName":"BTCBalance","editFormat":"Text field","mask":false,"weekdays":"[]","listPageId":"","addPageId":"","maxFileSize":false,"maxTotalFilesSize":false}},"AccountLevel":{"register":{"strName":"AccountLevel","editFormat":"Text field","mask":false,"weekdays":"[]","listPageId":"","addPageId":"","maxFileSize":false,"maxTotalFilesSize":false}},"Country":{"register":{"strName":"Country","editFormat":"Text field","mask":false,"weekdays":"[]","listPageId":"","addPageId":"","maxFileSize":false,"maxTotalFilesSize":false}},"Identification":{"register":{"strName":"Identification","editFormat":"Database image","viewFormat":"Database Image","mask":false,"imageWidth":200,"imageHeight":200,"weekdays":"[]","listPageId":"","addPageId":"","maxFileSize":false,"maxTotalFilesSize":false}},"AccountStatus":{"register":{"strName":"AccountStatus","editFormat":"Text field","mask":false,"weekdays":"[]","listPageId":"","addPageId":"","maxFileSize":false,"maxTotalFilesSize":false}},"confirm":{"register":{"strName":"confirm","EditFormat":"Password","validation":{"validationArr":["IsRequired"]}}}},"strCaption":"ACCOUNT OVERVIEW ADMIN","pageMode":0,"defaultPages":{"admin_members_list":"admin_members_list","admin_rights_list":"admin_rights_list","changepwd":"changepwd","changepwd_success":"changepwd_success","login":"login","menu":"Menu","register":"register","register_success":"register_success","remind":"remind","remind_success":"remind_success"},"isShowDetails":true,"userFieldName":"Username","passFieldName":"Password","emailFieldName":"Email","isUseToolTips":true,"pages":{"add":"add","edit":"edit","list":"list","masterlist":"masterlist","search":"search","view":"view"},"keyFields":["CustomerID"],"isUseCK":false}},"global":{"shortTNames":{"ACCOUNT OVERVIEW ADMIN":"account_admin","DEPOSIT HISTORY ADMIN":"deposit_admin","WITHDRAW HISTORY ADMIN":"withdraw_admin"},"webRootPath":"","ext":"php","charSet":"utf-8","curretLang":"English","debugMode":false,"googleMapsApiCode":"","useCookieBanner":false,"cookieBanner":"This website uses cookies to improve user experience","projectBuildKey":"372_1739535929","wizardBuildKey":"33876","popupPagesLayoutNames":{"login":"login","register":"login","remind":"login"},"isMobile":false,"mobileDeteced":false,"s508":false,"mapProvider":0,"staticMapsOnly":false,"locale":{"dateFormat":"0","langName":"en","ctryName":"US","startWeekDay":"6","dateDelimiter":"\/","is24hoursFormat":"0","leadingZero":"0","timeDelimiter":":","timePmLetter":"PM","timeAmLetter":"AM"},"showDetailedError":true,"customErrorMessage":"","twoFactorAuth":false,"loginFormType":false,"loginTName":"ACCOUNT OVERVIEW ADMIN","idStartFrom":2}};
			Runner.applyPagesData( {"1":{"proxy":[],"pageName":"register","helperFormItems":{"formItems":{"top":["register_header","custom_button"],"above-grid":["register_message"],"below-grid":["register_save","back_to_login","register_reset"],"grid":["integrated_edit_field","integrated_edit_field1","integrated_edit_field2","integrated_edit_field3","integrated_edit_field4","integrated_edit_field5","integrated_edit_field6","integrated_edit_field7"]},"formXtTags":[],"itemForms":{"register_header":"top","custom_button":"top","register_message":"above-grid","register_save":"below-grid","back_to_login":"below-grid","register_reset":"below-grid","integrated_edit_field":"grid","integrated_edit_field1":"grid","integrated_edit_field2":"grid","integrated_edit_field3":"grid","integrated_edit_field4":"grid","integrated_edit_field5":"grid","integrated_edit_field6":"grid","integrated_edit_field7":"grid"},"itemLocations":{"integrated_edit_field":{"location":"grid","cellId":"c3"},"integrated_edit_field1":{"location":"grid","cellId":"c3"},"integrated_edit_field2":{"location":"grid","cellId":"c3"},"integrated_edit_field3":{"location":"grid","cellId":"c3"},"integrated_edit_field4":{"location":"grid","cellId":"c3"},"integrated_edit_field5":{"location":"grid","cellId":"c3"},"integrated_edit_field6":{"location":"grid","cellId":"c3"},"integrated_edit_field7":{"location":"grid","cellId":"c3"}},"itemVisiblity":[]},"helperItemsByType":{"register_header":["register_header"],"register_reset":["register_reset"],"register_message":["register_message"],"register_save":["register_save"],"back_to_login":["back_to_login"],"integrated_edit_field":["integrated_edit_field","integrated_edit_field1","integrated_edit_field2","integrated_edit_field3","integrated_edit_field4","integrated_edit_field5","integrated_edit_field6","integrated_edit_field7"],"custom_button":["custom_button"]},"helperFieldItems":{"Username":["integrated_edit_field"],"Password":["integrated_edit_field1"],"Email":["integrated_edit_field2"],"YourFullName":["integrated_edit_field3"],"Telephone Number":["integrated_edit_field4"],"Country":["integrated_edit_field5"],"AccountStatus":["integrated_edit_field6"],"AccountBalance":["integrated_edit_field7"]},"buttons":["New_Button"],"fieldItems":{"Username":["integrated_edit_field"],"Password":["integrated_edit_field1"],"Email":["integrated_edit_field2"],"YourFullName":["integrated_edit_field3"],"Telephone Number":["integrated_edit_field4"],"Country":["integrated_edit_field5"],"AccountStatus":["integrated_edit_field6"],"AccountBalance":["integrated_edit_field7"]},"renderedMediaType":0,"cellMaps":{"grid":{"cells":{"c3":{"cols":[0],"rows":[0],"tags":[],"items":["integrated_edit_field","integrated_edit_field1","integrated_edit_field2","integrated_edit_field3","integrated_edit_field4","integrated_edit_field5","integrated_edit_field6","integrated_edit_field7"],"fixedAtServer":true,"fixedAtClient":false,"visibleCols":[0]}},"width":1,"height":1}}}} );
			</script>
<script language="JavaScript" src="include/runnerJS/RunnerAll3de7.js?33876"></script>
<script>Runner.util.ScriptLoader.addJS(['include/button_New_Button.js']);
Runner.util.ScriptLoader.addJS(['include/runnerJS/events/globalevents.js']);
Runner.util.ScriptLoader.addJS(['include/ajaxsuggest.js']);
 Runner.util.ScriptLoader.load();</script>
	</body>

<!-- Mirrored from bitwealthsolutions.info/register.php by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 01 Mar 2025 09:08:33 GMT -->
</html>
